/* index.html */
:root {
  --contacts-text-color: #757575;
  --header-styles-color: #212121;
  --accent-color: #2196f3;
  --primare-text-color: #ffffff;
  --beckground-second: #2f303a;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
.img {
  display: block;
}

.body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--primare-text-color);
}
.list {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}
/* _______logo___________________ */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}
/* -----------site-nav----------- */
.site-nav .link:focus,
.site-nav .link:hover,
.contacts .link:focus,
.contacts .link:hover {
  color: var(--accent-color);
}
.link {
  color: var(--header-styles-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link {
  color: var(--contacts-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.heade .container {
  padding: 24px 0px 25px 0px;
}

.heade .container {
  display: flex;
  align-items: center;
}

/* _______services_______________ */

.services {
  background-color: var(--beckground-second);
}
.services .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.services-text {
  color: var(--primare-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.button:focus,
.button:hover {
  background-color: #188ce8;
}

.button {
  background: var(--accent-color);
  color: var(--primare-text-color);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
}

/* __________section 2_____________ */
.styles .container {
  padding: 94px 0 94px 0;
}
.header-styles {
  color: var(--header-styles-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  margin-bottom: 10px;
}
.header-tex {
  color: var(--contacts-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.header {
  color: var(--header-styles-color);
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}
/* _______section 3________ */
.hero .container {
  padding-bottom: 94px;
}

/* _________________team___________ */
.team {
  background-color: #f5f4fa;
}
.team-images {
  border: 1px solid #ffffff;
}
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-header {
  color: var(--header-styles-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-text {
  color: var(--contacts-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* portfolio */

/* --------------button-------- */
.button-act:hover,
.button-act:focus {
  background: var(--accent-color);
  color: var(--primare-text-color);
}
.button-act {
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
/* -----------all----------- */
.services-all-header {
  letter-spacing: 0.06em;
  color: var(--header-styles-color);
}
.services-all-text {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
}
/* --------------------------footer */
.footer {
  background-color: var(--beckground-second);
  font-style: normal;
  font-weight: normal;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.non {
  color: var(--primare-text-color);
}
.footer-content {
  font-size: 14px;
  line-height: 1.71;
}
.footer-content-addres {
  color: var(--primare-text-color);
}
.footer-content-mail,
.footer-content-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-content {
  font-style: normal;
}
.footer-content-mail:focus,
.footer-content-mail:hover,
.footer-content-tel:focus,
.footer-content-tel:hover {
  color: var(--accent-color);
}
